.App {
    max-width: 100%;
}
.btn {
    display: flex;
    align-self: flex-start;
    gap: 5px;
    
   
}

button {
    background-color: rgb(181, 136, 223);
    border: 1px;
    border-radius: 10px;
    
    
   
}
button:hover {
    background-color: rgb(181, 136, 223);
    color: wheat;
}
.image {
    max-block-size: 125px;
}
.selected-product {
    display:inline;
       
}
.compareDiv {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top:10px;
    
    
    
    
}
body {
    background-color: rgb(221, 218, 218);
}
.cheapest-product {
    border-style:groove;
    border-color: green;
    width: 50%;
    
}

.class {
    width: 100%;
    height: 100%;

}
